@use 'sass:math';
@use '@material/theme' with (
  $secondary: rgb(84, 110, 122),
);
@use '@material/typography/mdc-typography';
@use '@material/elevation/mdc-elevation';
@use '@material/button/mdc-button';
@use '@material/icon-button';
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield';
@use '@material/snackbar/mdc-snackbar';
@use '@material/list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use "@material/linear-progress";

@include theme.core-styles;
@include textfield.core-styles;
@include list.deprecated-core-styles;
@include linear-progress.core-styles;

.mdc-icon-button.small {
  @include icon-button.density($density-scale: -2);
}

.mdc-fab:disabled {
  cursor: default;
  pointer-events: none;
  background-color: #819ca9; /* rgba(0,0,0,0.12); */
  color: rgba(0, 0, 0, 0.51);
}

.mdc-text-field {
  @include textfield.density($density-scale: -1, $minimum-height-for-filled-label: 48);
}

.mdc-list-item__secondary-text::before {
  display: none;
}

.hidden {
  display: none;
}
