<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bundle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mdc-typography">
    <div class="section mdc-elevation--z4">
        <h2 class="mdc-typography--headline6">Vault Connection</h2>
        <div class="options">
            <div class="mdc-text-field wide">
                <input type="text" class="mdc-text-field__input" id="vault-url" required autofocus />
                <div class="mdc-line-ripple"></div>
                <label class="mdc-floating-label" for="vault-url">Vault URL</label>
            </div>
            <div class="mdc-text-field">
                <input type="text" class="mdc-text-field__input" id="username" required />
                <div class="mdc-line-ripple"></div>
                <label class="mdc-floating-label" for="username">Username</label>
            </div>
            <div class="mdc-text-field">
                <input type="password" class="mdc-text-field__input" id="password" required/>
                <div class="mdc-line-ripple"></div>
                <label class="mdc-floating-label" for="password">Password</label>
            </div>
        </div>
        <div class="buttons">
            <p id="status"></p>
            <button id="login" class="mdc-button mdc-button--raised">
                <span class="mdc-button__label">Log in</span>
            </button>
            <button id="logout" class="mdc-button">
                <span class="mdc-button__label">Log out</span>
            </button>
        </div>
    </div>
    <div class="section mdc-elevation--z4">
        <div class="buttons">
            <h2 class="mdc-typography--headline6">Saved URLs</h2>
            <button id="reload" class="mdc-button">
                <span class="mdc-button__label">Reload</span>
            </button>
            </div>
        <ul class="mdc-list" id="saved-urls">
        </ul>
    </div>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label" role="status" aria-live="polite">???</div>
            <div class="mdc-snackbar__actions">
                <button type="button" class="mdc-button mdc-snackbar__action">Ok</button>
            </div>
        </div>
    </div>
</body>
<script src="options.js"></script>

</html>