<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bundle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.buttons button:not(:last-child) {
    margin-right: 5px;
}
button.hidden {
    display: none;
}
div.mdc-text-field {
    min-width: 20em;
    margin-top: 10px;
}
#status {
    color: red;
}
</style>
</head>
<body class="mdc-typography">
    <div class="buttons" style="white-space: nowrap">
        <button id="fill-user" class="mdc-icon-button material-icons">account_circle</button>
        <button id="fill-password" class="mdc-icon-button material-icons">vpn_key</button>
        <button id="fill-both" class="mdc-fab mdc-fab--mini">
            <span class="mdc-fab__icon material-icons" aria-hidden="true">input</span>
        </button>
    </div>
    <div class="mdc-text-field">
        <input type="password" class="mdc-text-field__input" id="password" autofocus/>
        <div class="mdc-line-ripple"></div>
        <label class="mdc-floating-label" for="password">Vault Password</label>
    </div>
    <p id="status"></p>
</body>
<script src="popup.js"></script>
</html>