<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bundle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
div.buttons {
    display: grid;
    grid-row-gap: 5px;
}
h2 {
    border-bottom: 1px solid;
}
.settings-data {
    font-size: medium;
}
label {
    font-weight: bold;
}
div.mdc-text-field {
    min-width: 20em;
    margin-top: 10px;
}
#status {
    color: red;
    font-size: medium;
}
</style>
</head>
<body class="mdc-typography">
    <div class="buttons" style="white-space: nowrap">
    </div>
    <div>
        <h2>Vault credentials</h2>
        <div class="settings-data">
            <label>Username:  </label><span id="username"></span>
        </div>
        <div class="mdc-text-field">
            <input type="password" class="mdc-text-field__input" id="password" autofocus/>
            <div class="mdc-line-ripple"></div>
            <label class="mdc-floating-label" for="password">Password</label>
        </div>
        <p id="status"></p>
    </div>
</body>
<script src="popup.js"></script>
</html>